  .past{
    margin-left: 66%;
    margin-top: -790px;
    background-color: #abdce7af;
  }
  

  .remove {
    background-color: #00232baf;
    border: none;
    color: white;
    padding: 4px 12px;
    text-align: center;
    font-size: 12px;
    margin: 0.5px 0.3px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .remove:hover {
    opacity: 1}