  h1{
      text-align: center;

  }
  
  #body {
    color: #000000;
    width: 65%;
    outline: none;
    border: none;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;

}
  
#body {
    resize:vertical;
    margin-top: 15px;
    height: 75%;
    font-size: 1.5rem;
    white-space: text-wrap; 
    overflow: hidden;
    text-overflow: clip;
    background-color: #bbdee6a4;
  }
  
  #title {
    height: 30px;
    margin-top: 13px;
    font-size: 2rem;
    border: none;
  }


  .button {
    margin-top: 720px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #52b0c5;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #52b0c5;
  }
  
  .button:active {
    background-color: #52b0c5;
    box-shadow: 0 3px #bbdee6a4;
    transform: translateY(4px);
  }
/* .prompts{ 
    position: absolute;
    right: 0px;
    top: 7%;
width: 24%;}

 ul {
    list-style-type: circle;
    /* border: 2px solid yellow; */
    /* background-color: lightyellow; */
    /* background-color: #BBDEE6;
    margin-bottom: 2cm;
    margin-top: 0.8cm;
    padding-top: 0.3cm;
    padding-bottom: 1.5cm;
 } */
  /* li {
    margin: 5px;
    /* background-color: lightyellow; */
    /* background-color: #BBDEE6;
    margin-bottom: 0.2cm; */

  /* } */